
div
{
    width: 100px;
    height: 100px;
    margin: 28px;
    display: inline block;
}
#boxw
{
    visibility: hidden;
    display: block;
}

h1
{
    text-align: center;
    border: 6px dotted red;
    text-emphasis: bold;
    text-decoration: underline;
    font-family: roboto;
    
}